<head><title>New Articles</title></head>
<body>
<form method="POST" action="/articles">
<label for="title">Article 1 Title: </label>
<input type="text" id="title" name="title">
<br>
<label for="title">Article 1 Content: </label>
<input type="text" id="content" name="content">
<br>
<input type="submit"></input>
</form>
</body>
